// Body
$body-bg: #f8fafc;
$font-color: #161616;

// Typography
$font-family-sans-serif: 'Overpass', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Block
$block-margin-bottom: 10px;
$block-padding: 10px 15px;

// Post
$post-title-font-size: 56px;
$post-content-font-size: 16px;
